
@{
    ViewBag.Title = "Index";
}

<h2>Chart</h2>
<button type="button" id="btn_getchart" class="btn btn-primary">Get Bitcoin values</button>
<canvas id="myChart" width="400" height="400"></canvas>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Chart.js"></script>

<script>
    $(document).ready(function () {
        var api_key = 'XB54KZGPF5TK2XCL';
        //https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=CNY&apikey=XB54KZGPF5TK2XCL
        $('#btn_getchart').on('click', function () {
            var city = $('#city').val();
            var url = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=CNY';
            url += '&apikey=' + api_key;

            $.ajax({
                url: url,
            }).done(function (data) {

                var meta_data = data["Meta Data"];
                var info = meta_data["1. Information"];
                var currency_name = meta_data["3. Digital Currency Name"];

                var d = data["Time Series (Digital Currency Daily)"];

                var d1 = d["2019-02-07"];
                var d2 = d["2019-02-06"];
                var d3 = d["2019-02-05"];
                var d4 = d["2019-02-04"];
                var d5 = d["2019-02-03"];
                var d6 = d["2019-02-02"];
                var d7 = d["2019-01-31"];
                var d8 = d["2019-01-30"];
                var d9 = d["2019-01-29"];
                var d10 = d["2019-01-28"];

                var dd1 = d1["1a. open (CNY)"];
                var dd2 = d2["1a. open (CNY)"];
                var dd3 = d3["1a. open (CNY)"];
                var dd4 = d4["1a. open (CNY)"];
                var dd5 = d5["1a. open (CNY)"];
                var dd6 = d6["1a. open (CNY)"];
                var dd7 = d7["1a. open (CNY)"];
                var dd8 = d8["1a. open (CNY)"];
                var dd9 = d9["1a. open (CNY)"];
                var dd10 = d10["1a. open (CNY)"];


                //create chart
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["2019-02-07", "2019-02-06", "2019-02-05", "2019-02-04", "2019-02-03", "2019-02-02", "2019-02-01", "2019-01-31", "2019-01-30", "2019-01-29", "2019-01-28"],
                        datasets: [{
                            label: 'Bitcoin',
                            data: [dd1,dd2,dd3,dd4,dd5,dd6,dd7,dd8,dd9,dd10],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });




           });// end callback
        });// end btn click
    });//end jquery
</script>
