
<div class="container">
    <h2 id="hello_h2">hello Home!</h2>
</div>
<script type="text/javascript">
    function Table(rows, columns) {
        // save parameter values to local variables
        var _rows = rows;
        var _columns = columns;
        // return the number of table cells
        this.getCellCount = function () {
            return _rows * _columns;
        };
    }



    // "Hello, World" class
    function HelloWorld(hour) {
        // class "constructor" initializes this.hour field
        if (hour) {
            // if the hour parameter has a value, store it as a class field
            this.hour = hour;
        }
        else {
            // if the hour parameter doesn't exist, save the current hour
            var date = new Date();
            this.hour = date.getHours();
        }
        // display greeting
        this.DisplayGreeting = function () {
            if (this.hour >= 22 || this.hour <= 5)
                document.write("Goodnight, world!");
            else
                document.write("Hello, world!");
        }
    }

    // create class instance
    var myHello = new HelloWorld();
    // call method
    myHello.DisplayGreeting();

    var t = new Table(10, 20);
    alert(t.getCellCount());



</script>