
<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-lg-3">
            <button type="button"
                    class="btn btn-primary" id="btn_getallemployees">
                Get Employees
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped" id="tbl_employees">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<button id="btn_showmodal" style="display:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Details</h4>
            </div>
            <div class="modal-body" id="myDetails">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#btn_getallemployees').on('click', function () {
            $.ajax({
                url: "/api/getemployees",
            }).done(function (employees) {
                //var employees = eval(data);
                $(employees).each(function (i, employee) {
                    var row = '';
                    row += '<tr>';
                    row += '<td>' + employee.Id + '</td>';
                    row += '<td>' + employee.FirstName + '</td>';
                    row += '<td>' + employee.LastName + '</td>';
                    row += '<td><i class="fa fa-question-circle" onClick=getDetails(' + employee.Id + ')></i></td>';
                    row += '</tr>';
                    $("#tbl_employees tbody").append(row);
                });
            });

        });//end btn_click
    });//end jquery

    var xmlHttp = createXmlHttpRequestObject();

    function getEmployees() {
        if (xmlHttp) {
            try {
                // initiate reading the async.txt file from the server
                xmlHttp.open("GET", "/api/getemployees", true);
                xmlHttp.onreadystatechange = handleRequestStateChanged;
                xmlHttp.send(null);
            }
            // display an error in case of failure
            catch (e) {
                alert("Can't connect to server:\n" + e.toString());
            }
        }
    }
    function handleRequestStateChanged() {
        myDiv = document.getElementById("result");

        // display the status of the request
        if (xmlHttp.readyState == 1) {
            myDiv.innerHTML += "<p>Request status: 1 (loading)</p>";
        }
        else if (xmlHttp.readyState == 2) {
            myDiv.innerHTML += "<p>Request status: 2 (loaded)</p>";
        }
        else if (xmlHttp.readyState == 3) {
            myDiv.innerHTML += "<p>Request status: 3 (interactive)</p>";
        }
        // when readyState is 4, we also read the server response
        else if (xmlHttp.readyState == 4) {
            if (xmlHttp.status == 200) {
                // read the message from the server
                var response = xmlHttp.responseText;
                var employees = eval(response);
                var table = '';
                var table_head = '<table  class="table table-striped"><thead><tr><th>Id</th><th>Nome</th><th>Cognome</th><th>Details</th></tr></thead><tbody>';
                table += table_head;
                for (var i = 0; i < employees.length; i++) {
                    var eployee = employees[i];
                    var row = '';
                    row += '<tr>';
                    row += '<td>' + eployee.Id + '</td>';
                    row += '<td>' + eployee.FirstName + '</td>';
                    row += '<td>' + eployee.LastName + '</td>';
                    row += '<td><i class="fa fa-question-circle" onClick=getDetails(' + eployee.Id + ')></i></td>';
                    row += '</tr>';
                    table += row;
                }
            }// end status 200
            else {

            }
        }// end ready state 4
        table += '</tbody></table>';
        myDiv.innerHTML = table;
    }

    function getDetails(id) {
        xmlHttp.open("GET", "/api/getemployee?Id=" + id, true);
        xmlHttp.onreadystatechange = handleDetailsResponse;
        xmlHttp.send(null);
    }

    function handleDetailsResponse() {
        myDetails = document.getElementById("myDetails");
        if (xmlHttp.readyState == 4) {
            if (xmlHttp.status == 200) {
                // read the message from the server
                var response = xmlHttp.responseText;

                //var table = '';
                //var table_head = '<table  class="table table-striped"><thead><tr><th>Id</th><th>Nome</th><th>Cognome</th><th>Hire Date</th></tr></thead><tbody>';
                //table += table_head;

                //var row = '';
                //row += '<tr>';

                //row += '<td>' + response.substring(7, 1) + '</td>';
                //row += '<td>' + response.substring(7, 1) + '</td>';
                //row += '<td>' + response.substring(7, 1) + '</td>';
                //row += '</tr>';
                //table += row;
            }// end status 200
            else {

            }
        }// end ready state 4
        //table += '</tbody></table>';
        myDetails.innerHTML = '<p>' + response.substring(7, 1) + '</p>';
        var btn_modal = document.getElementById('btn_showmodal');
        btn_modal.click(false);
    }

    function createXmlHttpRequestObject() {
        // xmlHttp will store the reference to the XMLHttpRequest object
        var xmlHttp;
        // try to instantiate the native XMLHttpRequest object
        try {
            // create an XMLHttpRequest object
            xmlHttp = new XMLHttpRequest();
        }
        catch (e) {
            // assume IE6 or older
            try {
                xmlHttp = new ActiveXObject("Microsoft.XMLHttp");
            }
            catch (e) { }
        }
        // return the created object or display an error message
        if (!xmlHttp)
            alert("Error creating the XMLHttpRequest object.");
        else
            return xmlHttp;
    }

    function Table(rows, columns) {
        // save parameter values to local variables
        var _rows = rows;
        var _columns = columns;
        // return the number of table cells
        this.getCellCount = function () {
            return _rows * _columns;
        };
    }
    // "Hello, World" class
    function HelloWorld(hour) {
        // class "constructor" initializes this.hour field
        if (hour) {
            // if the hour parameter has a value, store it as a class field
            this.hour = hour;
        }
        else {
            // if the hour parameter doesn't exist, save the current hour
            var date = new Date();
            this.hour = date.getHours();
        }
        // display greeting
        this.DisplayGreeting = function () {
            if (this.hour >= 22 || this.hour <= 5)
                document.write("Goodnight, world!");
            else
                document.write("Hello, world!");
        }
    }
        /*
            // create class instance
            var myHello = new HelloWorld();
            // call method
            myHello.DisplayGreeting();

            var t = new Table(10, 20);
            alert(t.getCellCount());

            var arr = [];
            arr.push('a');
            arr.push('b');
            arr.push('c');
            arr.push('d');
            arr.push('e');
            arr.push('f');

            var s = '';
            var inv = '';

            for (i = 0; i < arr.length; i++)
                s += arr[i];
            alert(s);
            for (i = arr.length - 1; i >= 0; i--)
                inv += arr[i];
            alert(inv);


            var p1 = {
                'Nome': 'Mario',
                'Cognome': 'Rossi',
                'Eta': 99
            }
            var p2 = {
                'Nome': 'Maria',
                'Cognome': 'Verdi',
                'Eta': 90
            }
            var p3 = {
                'Nome': 'Mariuccio',
                'Cognome': 'Gialli',
                'Eta': 99
            }

            var arr_p = [];

            arr_p.push(p1);
            arr_p.push(p2);
            arr_p.push(p3);

            var table_head = '<table  class="table table-striped"><thead><tr><th>Nome</th><th>Cognome</th><th>Eta</th></tr></thead><tbody>';
            document.write(table_head);
            for (var i = 0; i < arr_p.length; i++) {
                var row = '<tr>';
                row += '<td>' + arr_p[i].Nome + '</td>';
                row += '<td>' + arr_p[i].Cognome + '</td>';
                row += '<td>' + arr_p[i].Eta + '</td>';
                row += '</tr>';
                document.write(row);
            }
            var table_foot = '</tbody></table>';
            document.write(table_foot);
            */


</script>
